<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who we are</h2>
                <hr class="light">
                <p class="text-faded">We're a team of students at the University of Waterloo working to build a nanocar: a single molecule capable of being driven over a surface. We're able to provide a great learning environment for students to learn useful chemistry and software skills.</p>
                <a href="#" class="btn btn-default btn-xl">Join Us!</a>
            </div>
        </div>
    </div>
</section>
