<!DOCTYPE html>
<html>
<head>
    <title>Subteams</title>
</head>
<body>
    <h1>Subteams</h1>

    <h2>Chemistry</h2>
    <p>The Chemistry team focuses on conducting experiments and finding new ways to synthesize our molecules.</p>

    <h2>Computation</h2>
    <p>The Computation team specializes in finding properties of our molecules <i> in silico</i> through DFT and other computational chemistry methods.</p>

    <h2>Business</h2>
    <p>The Business team handles the strategic planning, marketing, and financial aspects of the whole team.</p>
</body>
</html>
