<style>
    h1 {
        text-align: center;
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    h2 {
        color: #555;
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        color: #777;
        font-size: 16px;
        line-height: 1.5;
    }

    div {
        margin-bottom: 30px;
    }

    .block {
        background-color: #f2f2f2;
        padding: 20px;
        margin-bottom: 30px;
    }
</style>

<h1>Subteams</h1>

<div class="block">
    <h2>Chemistry</h2>
    <p>The Chemistry team focuses on conducting experiments and finding new ways to synthesize our molecules.</p>
</div>

<div class="block">
    <h2>Computation</h2>
    <p>The Computation team specializes in finding properties of our molecules <i>in silico</i> through DFT and other computational chemistry methods.</p>
</div>

<div class="block">
    <h2>Business</h2>
    <p>The Business team handles the strategic planning, marketing, and financial aspects of the whole team.</p>
</div>
